@page
@model Hckrieger.Pages.Tags.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-10">Tags</h1>

<div class="navigation">
    <a class="btn btn-primary" asp-page="./Upsert">Create New</a>
    <a class="btn btn-success" asp-page="/Posts/Index">Manage Posts</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tag) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="Upsert" asp-route-id="@item.TagId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TagId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TagId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
